<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookuLooku</title>
</head>
<body>
   <h1>How va ooo !</h1>

<% meteos.forEach((meteo) => { %>
  <h2>Météo à <%= meteo.name %></h2>
  <p>Température: <%= meteo.main.temp.toFixed(2) %>°C</p>
  <p>Ressenti: <%= meteo.main.feels_like.toFixed(2) %>°C</p>
  <p>Conditions: <%= meteo.weather[0].description %></p>
  <p>Nuages: <%= meteo.clouds.all %>%</p>
  <p>
    Heure:
    <%= new Date(meteo.dt * 1000).toLocaleTimeString("fr-FR") %>
  </p>
<% }) %>
</body>
</html>