<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LookuLooku</title>
</head>
<body>
    <h1>How va ooo !</h1>
    <h2>Météo à <%= ville %></h2>

<p>Température: <%= temperature %>°C</p>

<p>Ressenti: <%= ressenti %>°C</p>

<p>Conditions: <%= description %></p>

<p>Nuages: <%= nuages %>%</p>

<p>Heure: <%= heure %></p>
</body>
</html>